<div nz-row style="padding: 20px 20px 0 20px">
  <div nz-row class="htitle"> BIG DATA TOOL </div>
  <nz-divider></nz-divider>
</div>
<div nz-row style="padding: 20px 20px 0 20px">
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="subtitleleft"> <a routerLink="/bigdata/categoryinput">分类模型</a> </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="subtitleright"> <a routerLink="/bigdata/regressioninput">回归模型</a> </div>
</div>
<div nz-row style="padding: 20px 20px 0 20px">
  <div>
    <span>工具使用前提条件</span>
    <span><br /></span>
    <span
      >有较为完整的非初始数据（not&nbsp;raw&nbsp;data），且有明确量化的目标变量（响应值Response）以及可能影响其的变量因素值（Predictors）</span
    >
    <span><br /></span>
    <span><br /></span>
    <span>工具能力</span>
    <span><br /></span>
    <span
      >涵盖对监督学习两种类型（分类Classification：目标变量为离散型/种类型，如：【红，黄，蓝】，&nbsp;【level1,&nbsp;level2,&nbsp;level3】等；回归&nbsp;Regression：目标变量为连续型，如69.02，0.639等）的数据清洗，数据可视化，数据预处理，机器学习建模（简单超参数迭代），以及预测模块。</span
    >
  </div>
</div>
