:host-context(body) {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #121212;
}

:host ::ng-deep {
    body {
        background-color: rgba(0, 0, 0, 1) !important;
    }

    h3 {
        color: #fff;
        margin-bottom: 0;
        user-select: none;
    }

    .headertxt {
        color: #E5E9F0;
        font-size: 16px;
        margin: 11px 0px 0px 0px;
    }

    .headercentxt {
        color: #E5E9F0;
        font-size: 26px;
        line-height: 36px;
        margin: 0px 0px 11px 0px;
    }

    .cardheader {
        color: #E5E9F0;
        font-size: 14px;
        line-height: 14px;
        margin: 2px 0px 2px 0px;
    }

    .cardheadertxt {
        color: #E5E9F0;
        font-size: 16px;
        margin: 4px 0px 18px 0px;
        line-height: 18px;
    }

    .block_header {
        left: 3px;
        top: 0;
        height: 74px;
        background: url(../../../../assets/images/cofco/mainheader.png) 100% no-repeat;
        background-size: 100% 100%;
    }

    .block_footer {
        height: 32px;
        background: url(../../../../assets/images/cofco/mainfooter.png) 100% no-repeat;
        background-size: 100% 100%;
    }

    .block_header_slide {
        background-color: rgba(255, 166, 0, 1);
        width: 6px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
    }

    .block_header_slide span {
        margin-left: 15px;
    }

    .maptipbg {
        width: 157px;
        height: 108px;
        background: url(../../../../assets/images/cofco/mainmaptipbg.png) 100% no-repeat;
        background-size: 100% 100%;
    }

    .maptiptitlebar {
        width: 3px;
        height: 109px;
        background: url(../../../../assets/images/cofco/mainmaptiptitlebar.png) -1px 0px no-repeat;
        background-size: 4px 110px;
        margin-top: -1px;
    }


    .text_tipTitle {
        overflow-wrap: break-word;
        color: rgba(255, 166, 0, 1);
        font-size: 14px;
        text-align: left;
        white-space: nowrap;
        line-height: 18px;
        margin-left: 10px;
    }

    .text_tip {
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        text-align: left;
        white-space: nowrap;
        line-height: 28px;
        margin-top: 3px;
        margin-left: 10px;
    }

    .slick-list {
        height: calc(25vh - 57px) !important;
        width: 100%;
    }

    .ant-card {
        margin-bottom: 0;
        background-color: #121212;
    }

    .ant-card-head {
        min-height: 30px;
        padding: 0;
        border: none;
        background: url(../../../../assets/images/cofco/maintitlebg.png) 100% no-repeat;
        background-size: 100% 100%;
    }

    .ant-card-head-title {
        padding: 0;
        color: #E5E9F0;
        font-weight: bold;
        font-size: 16px;
    }

    .ant-card-body {
        padding: 0;
        border-radius: 16px;
        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 14%);
    }

    .ant-card-extra {
        padding: 0;
        color: #E5E9F0;
        font-weight: bold;
        font-size: 18px;
    }

    .ant-card-grid {
        padding: 0;
        box-shadow: none;
    }
}